@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #FFDD06;
  height: 50px;
}
header h1 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* :::::::::::::::::: */
h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

#resultado {
  margin-top: 20px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 200px;
  background: #FFDD06;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .navLinks {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.nav .logo {
  font-size: 30px;
  font-weight: 500;
}
.nav a {
  color: #000000;
  font-size: 24px;
}
.nav .searchIcon {
  cursor: pointer;
  background-image: url("/assets/icons/search_FILL0_wght400_GRAD0_opsz48.svg");
  width: 25px;
  height: 25px;
}
.nav .clouseIcon {
  cursor: pointer;
  background-image: url("/assets/icons/close_FILL0_wght400_GRAD0_opsz48.svg");
  width: 25px;
  height: 25px;
}
.nav .searchBox {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav .searchBox input {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: white;
  padding: 0 15px 0 45px;
}
.nav .searchBox .searchIcon {
  position: absolute;
  left: 15px;
  margin: 10px 0;
}

.openSearch .searchBox {
  opacity: 1;
  pointer-events: auto;
}

.openSearch .navLinks a {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
}
main h2 {
  font-size: 18px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .noCard {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
main .card {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 90px;
  max-width: 500px;
}
main .card .gridFather {
  display: grid;
  grid-template-columns: 1fr;
  /*  grid-template-rows: repeat(8, 50px); */
  gap: 10px;
  width: 300px;
}
main .card .gridFather input {
  padding: 10px;
}

.btn {
  height: 40px;
  width: 300px;
  background-color: #FFDD06;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn a {
  font-size: 18px;
  padding: 0 100px;
}/*# sourceMappingURL=style.css.map */