// Theme colors:
$primary: #FFDD06; // para botones y bg Titles
$secondary: #EFEFEF; // para botones secundarios o inactivos;

$background:#F9F6F2;
$background_primary: #FFDD06; 

//Texts colors:

$primary_text : #000000;
$secondary_text : rgba(15,37,48,.8);

//Pallette colors:

//fonts.size:
$sm :   14px;
$m  :   18px;
$l  :   24px;
$xl :   30px;