.mainOne{
    padding-top: 20px;
    section{
        display: grid;
        gap: 20px;
    }
}

.mainTwo{
    grid-template-columns: 1fr 1fr;
}

.main{
    padding-top: 20px;
    @include center;
    /* grid-template-columns: 1fr 1fr; */
    margin: 30px;
    h2 {
        font-size: $m;//24px;
        @include center;
    }

    .noCard{
        @include center;
        gap:30px;
    }
    .card{
        @include center;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 90px;
        max-width: 500px;
        .gridFather{
            display:grid;
            grid-template-columns: 1fr;
           /*  grid-template-rows: repeat(8, 50px); */
            gap: 10px;
            width: 300px;
            input{
                padding: 10px;
            }
        }
    }

}

.btn {
    height: 40px;
    width: 300px;
    background-color: $background_primary;
    //border-radius: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    a{
        font-size: $m;
        padding: 0 100px;
    }

}

// card of people
.mainCliente{
    @include center;
    .contenedorCliente{
        padding:50px 0 100px 0 ;
        display: grid;
        gap: 20px;
        .persona{
            display: grid;
            grid-template-columns:150px 1fr;
            @include center;
            //background: red;
            border-radius: 15px;
            margin: 20px;
            width: 450px;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
            h3{
                font-size: $m;
            }
            .personaIten{
                button{
                    height: 40px;
                    width: 250px;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    background-color: $background_primary;
                }
            }
            .picPerson{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap:10px
            }
        }
    }
}


