header {
    background-color: $background_primary;
    height: 50px;
    h1 {
        @include center;
    }
}



/* :::::::::::::::::: */

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#resultado {
    margin-top: 20px;
}





.nav {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        padding: 10px 200px;
        background: $background_primary;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        @include centerFlex;
        justify-content: space-between;
        .navLinks{
            @include centerFlex;
            column-gap: 60px;
            li{
                a{
                    &:hover{
                        border-bottom: 1px solid #101725;
                    }
                }
            }

        }
        .logo{
            font-size: $xl;
            font-weight: 500;
            
        }
        a{
            color: $primary_text;
            font-size: $l;
        }
        .icon25{
            width: 25px;
            height: 25px;
        }
        .searchIcon{
            cursor: pointer;
            //svg
            background-image: url("/assets/icons/search_FILL0_wght400_GRAD0_opsz48.svg");
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .clouseIcon{
            cursor: pointer;
            //svg
            background-image: url("/assets/icons/close_FILL0_wght400_GRAD0_opsz48.svg");
            width: 25px;
            height: 25px;
        }
        .searchBox{
            position: absolute;
            right: 33%;
            height: 45px;
            max-width: 33%;//555px;
            width: 100%;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s linear;
            
            input{
                height: 100%;
                width: 100%;
                border-radius: 6px;
                border: none;
                outline: none;
                background-color: #ffff;
                padding: 0 15px 0 45px;
            }
            .searchIcon{
                position: absolute;
                left: 15px;
                margin:10px 0; //height: 100%;
            }
        }
        
}

.applyTrolley{
    cursor: pointer;
    background-image: url("/assets/icons/customer-qudaoliebiao-line-svgrepo-com.svg");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    span{
        display: flex;
        width: 20px;
        height: 20px;
        color: white;
        background-color: black;
        border-radius: 50%;
        font-size: $sm;
        place-content: center;
        position: relative;
        right: -30px;
    }
}

.profile{
    cursor: pointer;
    background-image: url("/assets/icons/profile-circle-svgrepo-com.svg");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}


.openSearch {
    .searchBox{
        opacity: 1;
        pointer-events:auto;
    }
}


.openSearch {
    .navLinks{
        a{
            opacity: 0;
            pointer-events:none;
            transition: all 0.2s linear;
        }
    }
}



.openProfile{
    //@include center;
    display:none;
    //text-align: center;

    height: 80px;
    width: 200px;
    margin-top: 20px;
    position:absolute;
    top: 30px; 
    right: 210px;

    background: $background;
    border-radius: 4px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    a{
        font-size: $sm;
        @include center;
        display: flex;
        gap: 30px;
        
    }
    .clouseProfile{
        background-image: url("/assets/icons/close_FILL0_wght400_GRAD0_opsz48.svg");
        width: 50px;
        height:100%;
        background-repeat: no-repeat;
        background-position: center;
        @include center;
        position:absolute;
        top: -20px; 
        right: -5px;
    }
    
}


.trash{
    cursor: pointer;
    background-image: url("/assets/icons/delete_FILL0_wght400_GRAD0_opsz24.svg");
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    @include center;
}

// nota para continuacion: falta agregar responsive
    

