header {
    background-color: $background_primary;
    height: 50px;
    h1 {
        @include center;
    }
}



/* :::::::::::::::::: */

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#resultado {
    margin-top: 20px;
}


.nav {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        padding: 10px 200px;
        background: $background_primary;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        @include centerFlex;
        justify-content: space-between;
        .navLinks{
            @include centerFlex;
            column-gap: 20px;
        }
        .logo{
            font-size: $xl;
            font-weight: 500;
        }
        a{
            color: $primary_text;
            font-size: $l;
        }
        .search-icon{
            cursor: pointer;
        }
}

    
    
    